.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-item {
  display: none;
  width: 30px;
  height: 2px;
  background: var(--color-glow);
  transition: transform 0.3s ease-in-out;
}

.hamburger.open .hamburger-item:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.open .hamburger-item:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburger-item:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
