#skills {
  height: 80vh;
  background-color: var(--color-primary);
}

.skills-text {
  color: var(--color-light);
  font-size: var(--size-medium);
}

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
