#skills {
  position: relative;
  height: auto;
  margin: 0 1.5rem 5rem 1.5rem;
}

.skills-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0;
}

.change-description {
  min-height: 10vh;
  margin: 5rem 0;
  display: flex;
  width: 35vw;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-size: var(--size-medium);
}

.description {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
}

.description-item {
  list-style: none;
  background-color: transparent;
  border: 2px solid #1d1d1d;
  border-radius: 6px;
  transition: 0.5s all ease;
}

.description-link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--color-glow);
  width: 4.5rem;
  height: 4.5rem;
  transition: 0.5s linear;
  z-index: 1;
  margin: 0 auto;
}

.description-item:hover {
  border-color: var(--color-glow);
}
