#about {
  position: relative;
  height: auto;
  padding: 0 3rem 5rem 3rem;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 auto;
  padding: 3rem 0;
  background-color: var(--color-primary);
  border: 2px solid #1d1d1d;
  border-radius: 6px;
}

.about-profile {
  width: 50%;
  height: 25em;
  background-image: url("../../assets/images/img-profile.jpg");
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-text {
  max-width: 35vw;
  color: var(--color-light);
  font-size: 1.3rem;
  margin: 4rem 3rem;
  text-align: start;
}

/* Socials */
.cards-wrapper {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-list {
  display: flex;
}

.card-item {
  list-style: none;
  margin: 0 0.5rem;
  background-color: var(--color-zero);
  border: 2px solid #1d1d1d;
  border-radius: 6px;
}

.card-link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-glow);
  width: 3.5rem;
  height: 3.5rem;
  transition: 0.5s linear;
  z-index: 1;
  margin: 0 auto;
}
.card-link:hover {
  color: #fff;
}
.card-link i {
  margin: auto;
}

.card-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--color-glow);
  opacity: 0.8;
  box-shadow: 0 0 1em 0.2em var(--color-glow);
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
  border-radius: 4px;
  z-index: -1;
}

.card-link:hover::before {
  transform: scale(1);
}

@media only screen and (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .about-text {
    min-width: 60vw;
    text-align: center;
  }
}
