#about {
  position: relative;
  height: auto;
  padding: 0 3rem 5rem 3rem;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: var(--color-primary);
  border: 2px solid #1d1d1d;
  border-radius: 6px;
}

.about-profile {
  width: 15rem;
  height: 25rem;
  margin: 0 auto;
  background-image: url("../../assets/images/img-profile.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {
  max-width: 35vw;
  color: var(--color-light);
  font-size: var(--size-medium);
  margin: 4rem 3rem;
  text-align: start;
}
