
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');



#header{
   height: 100vh;
}

.hidden {
  visibility: hidden;
}

.main-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: var(--color-light);
    font-weight: 700;
    font-size: 40px;
}

.title-second {
    color: var(--color-blue);
    white-space: normal;
    letter-spacing: 0.2rem;
    line-height: 3.2rem;
    font-size: 40px;
}