@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

#header {
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.main-title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: var(--color-light);
  font-weight: 700;
  font-size: 40px;
}

.main-title span {
  color: var(--color-glow);
  font-weight: bold;
}

.title-second {
  color: var(--color-glow);
  white-space: normal;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
  font-size: 40px;
}

.myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 0.15em solid var(--color-glow);
  border-radius: 0.45em;
  outline: none;
  background-color: transparent;
  color: var(--color-glow);
  box-shadow: inset 0px 0px 0.5em 0px var(--color-glow),
    0px 0px 0.5em 0px var(--color-glow);
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
