#header {
  height: 99vh;
}

.main-title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: var(--color-light);
  font-weight: 700;
  font-size: 40px;
}

.main-title span {
  color: var(--color-glow);
  font-weight: bold;
}
