.nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 2rem;
  z-index: 10;
}

.nav-item {
  color: var(--color-light);
  margin-left: 2rem;
  font-weight: bolder;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item:hover {
  color: var(--color-glow);
  text-shadow: 1px 1px 10px var(--color-glow);
}

.nav:hover .nav-item:not(:hover) {
  opacity: 0.2;
}

/* @media (max-width: 40rem) {
    #navbarId {
        display: none;
    };
} */
