.navbar-scrolled {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 100vw;
  padding: 1.5rem 0;
  backdrop-filter: blur(5px);
}

.nav-items {
  display: inline-flex;
  list-style: none;
}

.nav-items li a {
  color: var(--color-light);
  font-size: 20px;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-item:hover {
  color: var(--color-glow);
  text-shadow: 1px 1px 10px var(--color-glow);
}

.nav:hover .nav-item:not(:hover) {
  opacity: 0.2;
}
