:root {
  --color-zero: #000;
  --color-light: #fff;
  --color-primary: #09090b;
  --color-glow: #61efff;
  --color-glow-dark: #004e92;
  --color-logo-left: rgb(142, 161, 241);
  --color-logo-right: rgb(169, 59, 252);
}

::selection {
  color: #fff;
  background-color: #61efff;
}
