/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 0.5rem 1.5rem;
  }

  .navbar-logo {
    display: none;
  }
  .nav-items li a {
    font-size: 1rem;
  }

  #main {
    height: 95vh;
  }
  #main .main-title {
    font-size: var(--size-big);
  }

  #about {
    padding: 0 1.5rem 5rem 1.5rem;
  }
  #about .about-wrapper {
    flex-direction: column;
  }
  #about .about-profile {
    width: 50%;
  }
  #about .about-text {
    max-width: 100%;
    margin: 2rem 1.5rem;
    font-size: var(--size-small);
  }

  #skills .skills-wrapper {
    flex-direction: column;
  }
  #skills .change-description {
    width: 100%;
    min-height: 25vh;
  }

  #skills .description {
    padding: 0;
    gap: 1rem;
  }

  .products {
    padding: 2rem 1.5rem;
  }
  #project-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem 0;
  }
  .project-items {
    min-height: 14rem;
  }
  #footer {
    padding: 7rem 0;
  }
  .myBtn {
    transform: translateY(-3rem);
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 0.5rem 1.5rem;
  }

  .navbar-logo {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .header-scrolled {
    padding: 0.5rem 2rem;
    align-items: center;
  }

  .nav-items li a {
    display: block;
  }

  #main .main-title {
    font-size: var(--size-big);
  }

  #about .about-wrapper {
    flex-direction: column;
  }
  #about .about-profile {
    max-width: 50%;
  }
  #about .about-text {
    max-width: 50vw;
    margin: 2rem 1.5rem;
    font-size: var(--size-small);
  }

  #skills .change-description {
    width: 100%;
    min-height: 20vh;
  }

  #skills .skills-wrapper {
    flex-direction: column;
  }
  #skills .description {
    padding: 0;
    gap: 2rem;
  }

  .products {
    padding: 1.5rem 2.5rem;
  }
  #project-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem 0;
  }
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .nav-hamburger {
    display: none;
  }

  #about .about-wrapper {
    flex-direction: column;
    padding-top: 2rem;
    margin-top: 2rem;
  }
  #about .about-text {
    min-width: 60vw;
    text-align: flex-start;
  }

  #skills .skills-wrapper {
    flex-direction: column;
  }
  #skills .change-description {
    min-height: 20vh;
    width: 100%;
  }

  #project-section {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin: 2rem 0;
  }
}
