/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    display: none !important;
  }
  .nav-items li a {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .hamburger-item {
    display: flex;
  }

  #main .main-title {
    font-size: var(--size-big);
  }
  .glowing-btn {
    font-size: var(--size-big);
    margin: 10%;
  }

  #about {
    padding: 0 1.5rem 5rem 1.5rem;
  }
  #about .about-wrapper {
    flex-direction: column;
  }
  #about .about-profile {
    width: 50%;
  }
  #about .about-text {
    max-width: 100%;
    margin: 2rem 1.5rem;
    font-size: var(--size-small);
  }
  #about .cards-list {
    margin-top: 2rem;
  }

  #skills {
    height: 60vh;
  }

  #skills .cards-list {
    gap: 1.5rem;
  }

  #skills .cards-wrapper {
    margin-top: 8rem;
  }
  .products {
    padding: 1rem;
  }
  #project-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem 0;
  }
  .project-items {
    min-height: 200px;
  }
  #footer {
    padding: 7rem 0;
  }
  .myBtn {
    display: none !important;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-scrolled {
    padding: 0.5rem 2rem;
    align-items: center;
  }
  .nav-items li a {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .hamburger-item {
    display: flex;
  }

  #main .main-title {
    font-size: var(--size-big);
  }

  .glowing-btn {
    font-size: var(--size-big);
    margin: 10%;
  }

  #about .about-wrapper {
    flex-direction: column;
  }
  #about .about-profile {
    max-width: 50%;
  }
  #about .about-text {
    max-width: 50vw;
    margin: 2rem 1.5rem;
    font-size: var(--size-small);
  }

  #skills .cards-list {
    gap: 1.5rem;
  }
  #skills .cards-wrapper {
    margin-top: 8rem;
  }
  .products {
    padding: 1rem;
  }
  #project-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem 0;
  }
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  #about .about-wrapper {
    flex-direction: column;
    padding-top: 2rem;
    margin-top: 2rem;
  }

  #about .about-text {
    min-width: 60vw;
    text-align: flex-start;
  }
  #skills .cards-list {
    gap: 1.5rem;
  }

  #skills .cards-wrapper {
    margin-top: 3rem;
  }
  #project-section {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin: 2rem 0;
  }
}
