.project-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 2rem;
  justify-content: center;
  align-content: center;
  padding: 2% 8%;
}

.project-items {
  position: relative;
  /* margin: 0 auto; */
  /* width: 350px; */
  min-height: 250px;
  padding: 5%;
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-glow);
}

.project-title-content {
  color: var(--color-light);
  text-shadow: 1px 1px 1px var(--color-zero);
  margin-bottom: 15%;
}

.project-content {
  margin: 5% 0;
  color: var(--color-light);
}

.project-links {
  display: inline-flex;
  float: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.icon-link {
  margin: 0 0.5rem;
  transition: 0.4s ease-in-out 0.1s;
}

.icon-link svg {
  width: 30px;
  height: 30px;
}

.project-links a:visited,
.project-links a:link {
  color: var(--color-light);
}

.project-links a:hover {
  color: var(--color-glow);
  filter: drop-shadow(1px 1px 5px var(--color-glow));
  transition: 0.4s ease-out 0.1s;
}

@media only screen and (max-width: 600px) {
  #worksProjects {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 1441px) {
  #worksProjects {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }
}
